.main, .maincrew, .destination {
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
  width: 1440px;
  height: 100%;
  background-image: url("../public/home/background-home-desktop.jpg");
  background-size: 110%;
  color: white;
  font-family: "Bellefair";
}

#main {
  margin-top: 13%;
  margin-bottom: 5%;
}

.bread {
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   color: #D0D6F9;
}

.home {
    border-bottom: 0.5ch solid hsl(30, 12%, 97%); 
    padding-bottom: 7%;
} /* border boton.. no hay necesidad de poner position absoluto... si en el parent div pongo padding bottom de 0%*/

.line {
  width: 38%;
  margin-right: -5%;
  margin-top: -2%;
  z-index: 50;
  background: linear-gradient(180deg, 
        rgba(247, 245, 245, 0) calc(50% - 1px), 
        rgb(58, 57, 57) calc(50%), 
        rgba(228, 225, 225, 0) calc(50% + 1px)
    );
} /* asi pongo una line que atraviese un div como background sin texto*/

.bread p:hover, .breadp a:hover {
   color: hsl(240, 1%, 66%);
   cursor: url("/pointer.png"), auto;
}

.breadp  {
  margin-top: -1.5%;
  display: flex;
  justify-content: space-around;
  width: 63%;
  font-size: 17px;
  padding: 2.5% 10% 0% 5.4%;
  margin-right: -6%;
  font-family: 'Barlow Condensed';
  letter-spacing: 1mm;
  background-image: linear-gradient(to right, rgba(27, 35, 53, 0.2) , rgb(23, 31, 48),#41576e ,rgba(21, 37, 70, 0.7), rgb(9, 23, 53, 0.3) );
  backdrop-filter: blur(8px);
} /* poner un background color con varios colores*/

.mobile {
  display: none;
}

.close {
  display: none;
} 

.breadp p, .breadp a {
  display: inline-flex;
}

.breadp span {
  color: white;
  font-weight: 700;
  padding-right: 12%;
}

.landing {
  display: inline-flex;
  justify-content: space-between;
  margin: 18% 5% 2% 7%;
}


.landingtext {
  max-width: 53%;
}

.landingtext h3 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'Barlow Condensed';
  color: #D0D6F9;
  letter-spacing: 1.3mm;
  margin-bottom: 5%;
}

.landingtext h1 {
  font-size: 155px;
  font-weight: 300;
  margin-bottom: 5%;
}

.landingtext p,.destitext p {
  color: #D0D6F9;
  font-weight: 200;
  font-size: 17px;
  line-height: 3.7ch;
  font-family: 'Barlow Condensed';
  letter-spacing: 0.55mm;
  max-width: 75%;
}

.button  {
  width: 26%;
  margin: 10% 0% 0% 0%;
}

.button button  {
  width: 250px;
  height: 250px;
  margin: 0% 0% 0% 0%;
  color: #444444;
  border-radius: 50%;
  font-family: 'Barlow Condensed';
  letter-spacing: 0.6mm;
  border-style: none;
  font-size: 35px;
}

.button button:hover  {
  width: 250px;
  height: 250px;
  border: 40px solid #272727;
  offset: 0px, 4px;
  cursor: url("/pointer.png"), auto;
}

.maincrew {
  background-image: url("../public/crew/background-crew-desktop.jpg");
  background-size: 105%;
  background-repeat: no-repeat;
}

.slider {
  position: absolute;
  display: inline-flex;
  width: 12%;
  justify-content: space-around;
  margin: -10% 0% 10% 10.5%;
}

.silderbutton {
  background-color: #363636;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
}

.silderbutton:focus {
  background-color: #fdfbfb;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
}

.slider button:hover{
  cursor: url("/pointer.png"), auto;
  background-color: #7e7d7d;
}


#douglas {
  font-size: 56px;
  width: 120%;
  margin-bottom: 7%;
}

.crew {
  position: absolute;
  margin-top: -10%;
  width: 30%;
}

.crew span {
  color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
 margin-right: 5%;
}

#crewguy {
  font-size: 35px;
  line-height: 37px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 8%;
}

.img {
  margin-top: -17%;
}

.mark {
  margin-top: -12%;
}

.ann, .victor  {
  margin-top: -10%;
}


.destination {
  background-image: url("../public/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
}

.sliderdes {
  position: absolute;
  margin-left: 56%;
  margin-top: 7%;
  width: 40%;
}

.sliderdes button {
  margin-right: 6%;
  color: #D0D6F9;
  font-weight: 200;
  font-size: 19px;
  font-family: 'Barlow Condensed';
  letter-spacing: 0.55mm;
  background-color: none;
  text-align: center;
  background: none;
  border-style: none;
}

.sliderdes button:focus {
  border-bottom: 0.5ch solid hsl(0, 0%, 100%); 
  padding-bottom: 2%;
}

.sliderdes button:hover {
  cursor: url("/pointer.png"), auto;
  border-bottom: 0.5ch solid hsl(0, 0%, 53%); 
  padding-bottom: 2%;
}

.desti  {
  display: inline-flex;
  justify-content: space-between;
  margin: 17% 5% 2% 7%;
}

.desti img {
  margin: -7% 0% 0% 12%;
}

.destitext  {
  margin: -3% 5% 2% 18%;
  font-weight: 500;
}

.destitext h1  {
  font-size: 120px;
  font-weight: 300;
  margin-bottom: 5%;
}

.destip {
  min-width: 105%;
  border-bottom: 0.22ch solid hsl(0, 0%, 61%); 
  padding-bottom: 9%;
}

.desdata {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 4%;
}

.desdata p {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  color: #c9c8f8;
}

.desdata h4 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 5%;
}

#h3moon {
  font-size: 26px;
  z-index: 50;
  font-weight: 400;
  margin-left: 3%;
}

#tecc {
  background-image: url("../public/technology/background-technology-desktop.jpg");
  background-size: cover;
}

#tech {
  margin-left: 20%;
  height: 100%;
  margin-bottom: 4%;
}

#techtitle {
  margin-left: -9%;
}

#tech P {
  max-width: 90%;
}

.imgtech {
  max-width: 40%;
  overflow: auto;
  position: absolute;
  margin: -10% 0% 0% 40.5%;
}

.imgtech2 {
  display: none;
}

.techbtn {
  position: absolute;
  margin: -27% 0% 0% 12%;
  display: flex;
  flex-direction: column;
}

.techbtn button {
  height: 70px;
  margin-bottom: 30%;
  width: 70px;
  border-radius: 50%;
  border: 0.01ch solid hsl(0, 1%, 78%); 
  font-size: 25px;
  color: #FFFFFF;
  background-color: #040414; opacity: 0.7;
}

.techbtn button:hover {
  cursor: url("/pointer.png"), auto;
  background-color: #383838;
}

.techbtn button:focus {
  background-color: #f9f9fa;
  color: #040414;
  opacity: 1;
}

@media (min-width: 1445px) {
  .main, .maincrew, .destination {
    width: 100vw;
  }
  
.sliderdes {
  margin-left: 52%;
  }  
 
  
.techbtn {
  margin: -25% 0% 0% 12%;
}

.landingtext {
  max-width: 53%;
}

.landingtext h3 {
  font-size: 30px;
}

.landingtext h1 {
  font-size: 160px;
}

.landingtext p,.destitext p {
  font-size: 19px;
}
}

@media (min-width: 1051px) and (max-width: 1300px)  /* laptop*/ {
 
  .main, .maincrew, .destination {
    width: 100vw;
    height: 100%;
    background-size: 110%;
  }
  
  .bread {
     width: 100%;
     justify-content: space-around;
  }
  
  .breadp  {
    padding: 2.5% 2% 0% 5.4%;
  } 
  
  
  .breadp span {
    padding-right: 8%;
  }
  

  .landingtext {
    max-width: 55%;
  }
  
  .landingtext h3 {
    font-size: 27px;
  }
  
  .landingtext h1 {
    font-size: 150px;
  }
  
  .landingtext p,.destitext p {
    font-size: 18px;
    max-width: 90%;
  }
  
  .button  {
    width: 26%;
    margin: 10% 0% 0% 0%;
  }
  

  .slider {
    margin: -9% 0% 10% 10.5%;
  }
  
  
  #douglas {
    font-size: 56px;
    width: 120%;
    margin-bottom: 7%;
  }
  
  .crew {
    position: absolute;
    margin-top: -10%;
    width: 30%;
  }

  #crewguy {
    font-size: 35px;
    margin-top: 5%;
  }
  
  
  .img {
    margin: -18% -5% 0% 0%;
    max-width: 45%;
  }
  
  .mark {
    margin: -12% -2% 0% 0%;
    max-width: 40%;
  }
  
  .ann  {
    margin: -8% -5% 0% 0%;
    max-width: 50%;
  }

  .victor {
    margin-top: -12%;
    max-width: 50%;
  }
  
  .sliderdes {
    margin-left: 52%;
  }
  
  .desti  {
    margin: 17% 2% 5% 2%;
  }
  
  .desti img {
    margin: -5% 0% 0% 12%;
    max-width: 100%;
    width: 100%;
  }
  
  .destitext  {
    max-width: 40%;
    z-index: 40;
  }
  
  
  #tech {
    margin-left: 18%;
    margin-bottom: 7%;
  }
  
  .imgtech {
    max-width: 35%;
    margin: -7% 0% 0% 43%;
  }
  
  .techbtn {
    position: absolute;
    margin: -33% 0% 20% 10%;
  }
  
  
}
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
 
  
}


@media (min-width: 551px) and (max-width: 1050px) /*tablet*/ {
  
 

  .main, .maincrew, .destination {
    display: flex;
    flex-direction: column;
    padding: 4% 5%;
    width: 100vw;
    height: 100%;
    background-image: url("../public/home/background-home-tablet.jpg");
  }
  
  #main {
    margin-top: 13%;
    margin-bottom: 5%;
  }
  

  .line {
    display: none;
  } /* asi pongo una line que atraviese un div como background sin texto*/
  

  .breadp  {
    margin-top: -2.5%;
    width: 80%;
    font-size: 18px;
    padding: 4.5% 1% 0% 4%;
    margin-right: -5%;
  } /* poner un background color con varios colores*/
  
  .breadp span {
    display: none;
  }
  
  .landing {
    display: inline-block;
    justify-content: center;
    margin: 18% 5% 2% 7%;
  }
  
  
  .landingtext {
    max-width: 100%;
    text-align: center;
  }
  
  .landingtext h3 {
    font-size: 22px;
    margin-bottom: 2%;
  }
  
  .landingtext h1 {
    font-size: 160px;
    margin-bottom: 7%;
  }
  
  .landingtext p,.destitext p {
    font-size: 19px;
    max-width: 100%;
    margin: -3% 5% 4% 5%;
  }
  
  .button  {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 15% 30% 0% 25%;
  }
  
  .button button  {
    width: 230px;
    height: 230px;
    margin: 10% 0% 0% 0%;
    font-size: 35px;
  }
  
  .maincrew {
    background-image: url("../public/crew/background-crew-tablet.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
  }
  
  .slider {
    width: 30%;
    margin:-81% 0% 10% 32%;
  }
  
  .silderbutton {
    background-color: #5c5b5b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: none;
  }
  
  #douglas {
    font-size: 60px;
    width: 100%;
    margin-bottom: 5%;
  }
  
  .crew {
    margin: -10% 0% 0% -5%;
  }
  
  #crewguy {
    font-size: 30px;
    margin-top: 0%;
  }
  
  .img {
    margin: 25% 0% 2% 18%;
    width: 63%;
  }
  
  .mark {
    margin: 25% 0% 2% 20%;
    width: 56%;
  }

  .victor {
    margin: 25% 0% 2% 10%;
    width: 70%;
  }
  
  .ann {
    margin: 25% 0% 2% 10%;
    width: 72%;
  }
  
  .destination {
    background-image: url("../public/destination/background-destination-tablet.jpg");

  }
  
  .sliderdes {
    width: 40%;
    position: absolute;
    margin: 67% 0% 0% 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } /* asi puedo hacer para cuadrar un div absolute que tengo que moverlo mucho con media queries.. para que no se mueva mucho*/
  
  .desti  {
    display: inline-block;
    justify-content: center;
    margin: 17% 0% 2% -1%;
  }
  
  .desti img {
    margin: 0% 0% 0% 25%;
    width: 50%;
  }
  
  .destitext  {
    margin: 17% 5% 2% -3%;
    text-align: center;
  }
  
  .destitext h1  {
    font-size: 100px;
    margin-left: 10%;
  }
  
  .destip {
    min-width: 100%;
  }
  
  .desdata {
    justify-content: space-around;
    width: 70%;
  }
  
  .desdata p {
    display: block;
    font-size: 15px;
    white-space: nowrap /* con este obligo al p a una sola linea*/
  }
  
  
  #h3moon {
    font-size: 18px;
    margin-left: 0%;
    width: 50%;
  }
  
  #tecc {
    background-image: url("../public/technology/background-technology-tablet.jpg");
    overflow:hidden;
  }
  
  #tech {
    margin-left: 0%;
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
  }
  
  #techtitle {
    margin: -50% 0% 0% -3%;
    width: 40%;
  }

  #sub {
    margin-top: 30%;
  }
  
  #tech P {
    max-width: 90%;
  }
  
  
.imgtech {
 display: none;
}


  .imgtech2 {
    display: flex;
    max-width: 120%;
    width: 120%;
    position: relative;
    margin: 5% 0% 0% -7%;
  }
  
  .techbtn {
    width: 50%;
    position: absolute;
    margin: -65% 0% 0% 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
}


@media (max-width: 550px)  /* celphones */ {
   
  
  .main, .maincrew, .destination {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    width: 100vw;
    height: 100%;
    background-image: url("../public/home/background-home-tablet.jpg");
  }
  
  #main {
    margin-top: 13%;
    margin-bottom: 5%;
  }

  
.mobile {
  display: block;
  margin: 2% 5% 0% 0%;
}

.close {
  position: absolute;
  display: none;
  z-index: 40;
  left: 400px;
} 

.mobile:hover, .close:hover {
  cursor: url("/pointer.png"), auto;
}

  .line {
    display: none;
  } /* asi pongo una line que atraviese un div como background sin texto*/
  

  .breadp  {
    position: absolute;
    width: 65%;
    height: 110%;
    display: none ;
    margin: -4% 0% 0% 30%;
    background-color: rgb(31, 29, 29);
    font-weight: 600;
    z-index: 10;
    padding: 30% 5%;
    background-image: linear-gradient(to bottom, rgba(27, 35, 53, 0.2) , rgb(23, 31, 48),#41576e ,rgba(21, 37, 70, 0.7), rgb(9, 23, 53, 0.3) );
    backdrop-filter: blur(15px);
  } /* poner un background color con varios colores*/
  
  .breadp a {
     display: flex;
     width: 100%;
     margin-bottom: 12%;
     color: #c2c1c1;
  }
  .breadp span {
    display: flex;
  }
  
  .landing {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 20% 10% 2% 5%;
  }

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20% 10% 2% 5%;
  }
  
  
  .landingtext {
    max-width: 100%;
    text-align: center;
  }
  
  .landingtext h3 {
    font-size: 18px;
    margin-bottom: 2%;
  }
  
  .landingtext h1 {
    font-size: 110px;
    margin-bottom: 7%;
  }
  
  .landingtext p,.destitext p {
    font-size: 16px;
    max-width: 100%;
    margin: 0% 2% 4% 2%;
  }
  
  .button  {
    width: 100%;
    margin: 10% 0% 20% 0%;
  }
  
  .button button  {
    width: 200px;
    height: 200px;
    margin: 10% 15% 0% 20%;
    font-size: 35px;
  }
  
  .maincrew {
    background-image: url("../public/crew/background-crew-tablet.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
  }
  
  .slider {
    position: absolute;
    width: 28%;
    margin:-72% 0% 20% 35%;
  }
  
  .silderbutton {
    background-color: #8f8e8e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: none;
  }
  
  #douglas {
    font-size: 35px;
    width: 100%;
    margin-bottom: 5%;
  }
  
  .crew {
    margin: -90% 0% 0% 0%;
    position: absolute;
    width: 75%;
  }
  
  #crewguy {
    font-size: 25px;
    margin-top: 22%;
  }
  
  .img {
    margin: 0% 0% 15% 18%;
    width: 63%;
  }
  
  .mark {
    margin: 0% 0% 2% 20%;
    width: 63%;
  }

  .victor {
    margin: 10% 0% 0% 10%;
    width: 72%;
  }
  
  .ann {
    margin: 15% 0% 2% 10%;
    width: 78%;
  }
  
  .destination {
    background-image: url("../public/destination/background-destination-tablet.jpg");

  }
  
  .sliderdes {
    width: 70%;
    position: absolute;
    margin: 70% 0% 0% 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } /* asi puedo hacer para cuadrar un div absolute que tengo que moverlo mucho con media queries.. para que no se mueva mucho*/
  
  .desti  {
    display: inline-block;
    justify-content: center;
    margin: 17% 0% 2% -1%;
  }
  
  .desti img {
    margin: 0% 0% 0% 25%;
    width: 50%;
  }
  
  .destitext  {
    margin: 17% 5% 2% -3%;
    text-align: center;
  }
  
  .destitext h1  {
    font-size: 100px;
    margin-left: 5%;
  }
  
  .destip {
    min-width: 100%;
  }
  
  .desdata {
    justify-content: space-around;
    width: 100%;
    display: block;
  }
  
  .desdata p {
    display: block;
    font-size: 15px;
    white-space: nowrap /* con este obligo al p a una sola linea*/
  }

  .desdata h4 {
    margin: -2% 0% 7% 0%;
  }
  
  #h3moon {
    z-index: 40;
    font-size: 18px;
    margin: -10% 0% 0% 18%;
    width: 100%;
  }
  
  #tecc {
    background-image: url("../public/technology/background-technology-tablet.jpg");
    overflow:hidden;
  }
  
  #tech {
    margin-left: 0%;
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
  }
  
  #techtitle {
    margin: -55% 0% 0% 0%;
    width: 90%;
  }

  #sub {
    margin-top: 35%;
  }
  
  #tech P {
    max-width: 100%;
  }
  
  
.imgtech {
 display: none;
}


  .imgtech2 {
    display: flex;
    max-width: 120%;
    width: 120%;
    position: relative;
    margin: 5% 0% 0% -6%;
  }
  
  .techbtn {
    width: 50%;
    position: absolute;
    margin: -85% 0% 0% 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
 
  
}
